@import 'tailwindcss';

@font-face {
	font-family: 'Crimes Times Six';
	src: url('./Crimes Times Six.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Crime Times Six';
	src: url('/Crime Times Six.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
