@import 'tailwindcss';

@font-face {
	font-family: 'BungeeSpice-Regular';
	src: url('./BungeeSpice-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Crimes Times Six';
	src: url('/Crimes%20Times%20Six.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
